body {
  background-image: url(./images/yuriy-kovalev-nN1HSDtKdlw-unsplash.jpg);
  background-size: cover;
  padding: 3%;
}

#navbar {
  position: fixed;
  top: 0;
  font-size: x-large;
}

#navlist {
  display: flex;
  list-style: none;
}

#navlist li {
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #f00;
}

h1,
h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 500%;
}

#image {
  width: 20%;
  height: auto;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#about-me {
  margin: 10px;
  padding: 10px;
}

#about-me-content {
  font-size: xx-large;
  margin: 2%;
}

.project {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  height: 5000%;
}

.project:hover {
  opacity: 0.7;
}

.project h3,
.project a {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 600%;
  font-weight: bold;
}

.project:hover h3,
.project:hover a {
  opacity: 1;
}

.project a {
  top: 60%;
}
#projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.hobbies-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  margin: 0 100px;
}

.hobbies-list p {
  color: rgb(233, 233, 233);
  transition: transform 3s ease;
  font-size: 250%;
}

.hobbies-list p:hover {
  transform: scale(1.5);
  color: gold;
}

footer {
  text-align: center;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  width: 100%;
  margin-top: 45%;
}
