body {
  background-image: url(./images/vintage-smooth-textured-paper-background.jpg);
  background-size: cover;
}

#navbar {
  position: fixed;
  top: 0;
  font-size: 1vw;
}

#navlist {
  display: flex;
  list-style: none;
}

#navlist li {
  margin: 0 1vw;
}

a {
  text-decoration: none;
  color: lightgrey;
}

a:hover {
  color: red;
}

h1,
h2 {
  text-align: center;
  text-decoration: underline;
}

h1 {
  font-size: 4vw;
  padding-top: 2vh;
}

h2 {
  font-size: 3vw;
  padding-top: 12vh;
  padding-bottom: 3vh;
}

#image {
  width: 20vw;
  height: auto;
  padding-right: 3vw;
}

#about-me {
  display: flex;
  justify-content: center;
  margin: 2vh 2vw;
  padding: 2vh 2vw;
}

#about-me a {
  margin: 0.5vw;
}

#about-me-content {
  font-size: 1.3vw;
  margin: 2vh 0;
}

#about-me-content p {
  color: lightgrey;
}

.hobbies-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
  gap: 5vw;
  margin: 0 5vw;
}

.hobbies-list p {
  color: rgb(233, 233, 233);
  transition: transform 3s ease;
  font-size: 1vw;
}

.hobbies-list p:hover {
  transform: scale(2);
  color: gold;
}
.project {
  position: relative;
  border: 1px solid #ccc;
  padding: 2vw;
  border-radius: 2vw;
  background-position: center;
  background-size: cover;
  height: 35vw;
  overflow: hidden;
}

.project:hover {
  transform: translateY(-10px);
}

.project::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: height 3s ease, opacity 3s ease;
}

.project:hover::after {
  height: 100%;
  opacity: 1;
}

.project h3,
.project a {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  opacity: 0;
  transition: opacity 3s ease;
  font-size: 4vw;
  font-weight: bold;
  z-index: 1;
}

.project a {
  bottom: 25%;
}

.project:hover h3,
.project:hover a {
  opacity: 1;
}

.project a:hover {
  color: gold;
}

#projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
  gap: 2vw;
}

.github-button {
  display: flex;
  justify-content: center;
  padding-top: 2vh;
  font-size: 4vh;
}

footer {
  text-align: center;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 1.5vh;
  margin-top: 2vh;
}

@media screen and (max-width: 768px) {
  h2 {
    padding: 2vh;
  }
  #navbar {
    display: none;
  }
}
